body {
background-image: url(../images/washington-beautiful.jpg);
height: 100%
max-width: 100%;
background-attachment: fixed;
background-position: center;
background-size: cover;
margin: 0 auto;
}

.body-content {
width: 80%;
height: 80%;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 1rem 2rem;
border-radius: 10px;
background: rgba(0, 0, 0, 0.6);
color: #fff;
}

li {
  color: #fff;
}

img {
  max-width: 50%;
  margin-left: 20px;
  border-radius: 5px;
}
h1 {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: #fff;
}

.opening-line {
  font-size: 25px;
}

.git-hub {
  font-size: 25px;
}

.main-nav {
  font-size: 20px;
}

.main-nav {
  display: block;
  padding: 0;
  list-style: none;
  clear: both;
  color: white;
  text-decoration: none;
}

.border {
  border: solid:10px;
}

@media only screen and (min-width: 641px) {

  h1 {
    font-size: 20px;
    margin-left: 5px;
  }

  .opening-line {
    font-size: 15px;
  }

  .git-hub {
    font-size: 15px;
  }

  .main-nav {
    font-size: 15px;
  }

  .main-nav li {
    display: inline;
  }

  img {
    width: auto;
    height: 200px;
  }

}
